<app-bread-crumb componentName="E Counselling"></app-bread-crumb>
<div class="container">
  <div class="row">
    <div class="col-12 counselling-page">
      <div class="title">Counselling System</div>
      <h4>PURPOSE OF COUNSELING SYSTEM:</h4>
      <p>
        The primary purpose for the counselor system is to foster trust among devotees. Spiritual authority is not
        established simply by designating someone as an authority. Lord Caitanya's movement is a voluntary movement.
        "Voluntary" means that we have to voluntarily give ourselves to an authority, on the basis of faith. When we
        voluntarily give ourselves to an authority, then we take greater responsibility ourselves for following their
        instructions, because we have faith in their instructions.
      </p>
      <p>
        We should look for the association of more advanced devotees, and we should look for someone whom we can trust.
        This is the purpose for the counselor system. When you associate with somebody more advanced, you can get the
        opportunity to have exchanges with Vaishnavas according to the teachings of Rupa Gosvami - dadati pratigrhnati
        guhyam akhyati prcchati. Exchanges of love between one devotee and another is to reveal one's mind in confidence
        and to inquire confidentially.
      </p>
      <h4>
        RESPONSIBILTY OF COUNSELLOR AND COUNSELEE
      </h4>
      <p>
        If you don't have good relationship in spiritual life, it will be very difficult to make progress.
        Unfortunately, many times that kind of relationship does not exist, because we are not willing to be humble. We
        are not willing to look for superior qualities in others. We are not willing to accept that "somebody may
        actually have something that they can offer me in my spiritual life." For a beginner in Krishna consciousness,
        that is very dangerous. It means that one is beginning spiritual life from a very shaky platform. It is due to
        pride within the heart that makes it very difficult to make spiritual advancement. The Lord is very much
        attracted to humility in His devotees. When there is humility, there are genuine exchanges between one devotee
        and another.
      </p>
      <p>
        On the other hand, it is also the responsibility of the person who is supposed to be in the superior position to
        be a good example, to be caring, to be disinterested in getting respect, to not demand respect, to not use his
        position for controlling others, but whose primary purpose for having that relationship is for helping his
        dependent. Most important is there should be no expectation of something in return. If a person cannot actually
        take the position of helping a dependent without expecting something in return, he is not qualified to take care
        of others. For a voluntary movement to go on without paying anybody there must be trust. An authority should
        have no other agenda in this relationship other than helping one in his/her spiritual life.
      </p>
      <p>
        Therefore, the counselor system cannot be forced upon others. Those who are serving in the capacity of
        counselors must become qualified both on the strength of their example, and on the strength of their preaching
        to help others. It is for that reason that we can't demand the temple authorities to assign counselors, because
        unfortunately, devotees don't always have faith in the temple authorities. If the authority structure simply
        appoints somebody else to be a counselor, there will still be no trust, and the whole system then becomes
        artificial and the relationships will only be formal. Why? Because the counselee also has an agenda. "I want a
        recommendation. I will make this relationship good enough just to get that and then I will be glad when it is
        over." What kind of relationship is that? It is practically useless.
      </p>
      <p>
        The responsibility lies both on the part of neophyte newcomers who are just coming to Krishna consciousness - to
        learn humility, and on the counselors who should not abuse the humility of others. When those two qualifications
        exist, we will have an effective counselor system. We should all try to work towards accomplishing that goal.
        That should be the primary goal, because unless there have these kinds of relationships, how will we ever create
        a strong impression in the minds of those who are coming to Krishna consciousness that there is such a thing as
        genuine Vaishnava relationships? It starts here, in the temple, and extends into the congregation who are
        connected to the temple. From that point, it spreads and should grow naturally, organically, voluntarily, on the
        spiritual platform; not because somebody has some stripes on their shoulders and is designated as an authority.
        That doesn't work in spiritual life.
      </p>
      <h4>
        IMPORTANT QUALIFICATIONS FOR COUNSELORS:
      </h4>
      <ul>
        <li>Counselors should have a nice understanding of the philosophy and practice of Krishna consciousness.
        </li>
        <li>They should have been active within ISKCON for a reasonable length of time.
        </li>
        <li>They should be able to give balanced advice according to time, place, and circumstance.
        </li>
        <li>They should not be prone to taking extreme and controversial positions on issues.
        </li>
        <li>They should be willing to extend themselves to help others and have a spirit of sacrifice.
        </li>
        <li>They should be compassionate and have a genuine concern for the welfare of devotees.
        </li>
        <li>They should be good listeners. They should be able to listen to the people they are trying to serve.
        </li>
        <li>They should be mature and sober.
        </li>
        <li>They should demonstrate a good standard of sadhana, etiquette, behavior, and commitment to serving the
          mission of Srila Prabhupada.
        </li>
        <li>They should be stably situated within their own ashram.
        </li>
      </ul>
      <h4>
        Basic Training Principles Given to Counselees
      </h4>
      <ul>
        <li>Counselees should be ideal grihasthas by keeping Krishna in the center.
        </li>
        <li>They should maintain proper devotional standards while at home, in the kitchen, and on the altar.
        </li>
        <li>They should be a proper wife, husband, or parent.
        </li>
        <li>Children receiving counseling should behave in accordance with the teachings of our scriptures.
        </li>
        <li>Counselees should balance economic and social responsibilities with spiritual vows.
        </li>
        <li>Men should know the appropriate manner in which to deal with their wives, the wives of other men, and
          unmarried women.
        </li>
        <li>Women should know the appropriate manner in which to deal with brahmacaris, sannyasis, their husbands, and
          the husbands of other women.
        </li>
        <li>Counselees should have a proper attitude toward the other ashrams and understand the proper way for
          grihasthas to deal with brahmacaris, sannyasis, and vanaprasthas.
        </li>
        <li>Counselees should understand how to deal with family members who are not devotees.
        </li>
        <li>Counselees should know how to relate with materialistic people.
        </li>
      </ul>
    </div>
  </div>
</div>
