.title {
  font-weight: bold;
  font-size: 32px;
  padding: 0;
  margin: 20px 0;
  overflow: unset;
}

ul {
  list-style: circle;
}

h4 {
  margin-top: 20px;
}

.counselling-page {
  margin-bottom: 40px;
}
