.feature-header {
  font-size: 32px;
  text-align: center;
  margin: 30px;
}

.feature-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.feature-container {
  margin: 30px 0;
}

.feature-content {
  flex: 1;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.feature-content > .feature-title {
  font-size: 24px;
  font-weight: bold;
}

.feature-content > .feature-desc {
  font-size: 20px;
}

.feature-content > .round-btn {
  width: fit-content;
}

.feature-img {
  flex: 1;
  padding: 0 20px;
}

.feature-img > img {
  width: 100%;
}

.feature-container.right .feature-img {
  order: 1;
}

@media (min-width: 576px) {
  .feature-container {
    display: block;
  }
  .feature-content {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .feature-container {
    display: flex;
  }
}

@media (min-width: 992px) {
  .feature-container {
    display: flex;
  }
}

@media (min-width: 1200px) {
  .feature-container {
    display: flex;
  }
}
