
  <div class="dashboard ">

      <div class="row no-gutters">
        <div class=" col-lg-3 col-md-3">
          <div class="admin-panel">
          <!-- profile -->
          <div class="card admin-profile"  >
            <img src="../../../assets/images/theme-image/core-img/star.png" class="card-img-top avatar"  alt="admin">
            </div>
            <div class="card-body">
            <h5 class="card-title text-light">Name xyz</h5>
            </div>

              <!-- content -->
               <div class="admin-content">

                      <ul>
                        <li><h4><i class="fa fa-tachometer" aria-hidden="true"></i> </h4></li>
                        <li> <a href="#" > <h3>My Dashboard </h3></a></li>
                      </ul>


                        <ul>
                        <li><h4><i class="fa fa-user" aria-hidden="true"></i></h4></li>
                        <li> <a href="#" ><h3>My Profile </h3></a></li>
                        </ul>


                          <ul>
                          <li><h4><i class="fa fa-question" aria-hidden="true"></i></h4></li>
                          <li> <a href="#" ><h3>Tickets</h3></a></li>
                          <li class="right-arrow"> <h5><i class="fa fa-chevron-right" aria-hidden="true"></i></h5></li>
                          </ul>


                        <ul>
                        <li><h4><i class="fa fa-newspaper-o" aria-hidden="true"></i></h4></li>
                        <li> <a href="#" ><h3>Newer Actions </h3></a></li>
                        </ul>


                        <ul>
                        <li><h4><i class="fa fa-list-alt" aria-hidden="true"></i></h4></li>
                        <li><a href="#" > <h3>My Checklist</h3></a></li>
                        <li class="right-arrow"> <h5><i class="fa fa-chevron-right" aria-hidden="true"></i></h5></li>
                        </ul>


                        <ul>
                        <li><h4><i class="fa fa-list-alt" aria-hidden="true"></i></h4></li>
                        <li> <a href="#" ><h3>Attendance</h3></a></li>
                        <li class="right-arrow"> <h5><i class="fa fa-chevron-right" aria-hidden="true"></i></h5></li>
                        </ul>


                        <ul>
                        <li><h4><i class="fa fa-check" aria-hidden="true"></i></h4></li>
                        <li><a href="#" > <h3>Approve</h3></a></li>
                        <li class="right-arrow"> <h5><i class="fa fa-chevron-right" aria-hidden="true"></i></h5></li>
                        </ul>


                        <ul>
                        <li><h4><i class="fa fa-line-chart" aria-hidden="true"></i></h4></li>
                        <li><a href="#" ><h3>Report</h3></a> </li>
                        <li class="right-arrow"> <h5><i class="fa fa-chevron-right" aria-hidden="true"></i></h5></li>
                        </ul>


                        <ul>
                        <li><h4><i class="fa fa-list-alt" aria-hidden="true"></i></h4></li>
                        <li> <a href="#" ><h3>Org Certification Details</h3></a></li>
                        <li class="right-arrow"> <h5><i class="fa fa-chevron-right" aria-hidden="true"></i></h5></li>
                        </ul>


                        <ul>
                        <li><h4><i class="fa fa-list" aria-hidden="true"></i></h4></li>
                        <li> <a href="#" ><h3>Newers List</h3></a></li>
                        </ul>


            </div>
        </div>
      </div>
        <!-- right panel  -->
        <div class="dashboard-panel col-lg-9 col-md-9 p-3">
            <div class="main-dashboard scrollable-box">
                  <div class="content-area">
                    <h2> Right content goes here </h2>
                    <p>
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                  </div>
            </div>
        </div>
      </div>

  </div>


