
  <div class="dashboard ">

      <div class="row">
        <div class="admin-panel col-lg-3 col-md-3">
          <!-- profile -->
          <div class="card admin-profile"  >
            <img src="../../../assets/images/theme-image/core-img/star.png" class="card-img-top avatar"  alt="admin">
            </div>
            <div class="card-body">
            <h5 class="card-title text-light">Name xyz</h5>
            </div>

            <!-- content -->
            <div class="admin-content">
              <a href="#" >
               <ul>
                <li><h4><i class="fa fa-tachometer" aria-hidden="true"></i> </h4></li>
                <li> <h3>My Dashboard </h3></li>
               </ul>
              </a>
              <a href="#" >
                <ul>
                 <li><h4><i class="fa fa-user" aria-hidden="true"></i></h4></li>
                 <li> <h3>My Profile </h3></li>
                </ul>
               </a>
               <a href="#" >
                  <ul>
                   <li><h4><i class="fa fa-question" aria-hidden="true"></i></h4></li>
                   <li> <h3>Tickets</h3></li>
                   <li class="right-arrow"> <h5><i class="fa fa-chevron-right" aria-hidden="true"></i></h5></li>
                  </ul>
                 </a>
                <a href="#" >
                <ul>
                 <li><h4><i class="fa fa-newspaper-o" aria-hidden="true"></i></h4></li>
                 <li> <h3>Newer Actions </h3></li>
                </ul>
               </a>
               <a href="#" >
                <ul>
                 <li><h4><i class="fa fa-list-alt" aria-hidden="true"></i></h4></li>
                 <li> <h3>My Checklist</h3></li>
                 <li class="right-arrow"> <h5><i class="fa fa-chevron-right" aria-hidden="true"></i></h5></li>
                </ul>
               </a>
               <a href="#" >
                <ul>
                 <li><h4><i class="fa fa-list-alt" aria-hidden="true"></i></h4></li>
                 <li> <h3>Attendance</h3></li>
                 <li class="right-arrow"> <h5><i class="fa fa-chevron-right" aria-hidden="true"></i></h5></li>
                </ul>
               </a>
               <a href="#" >
                <ul>
                 <li><h4><i class="fa fa-check" aria-hidden="true"></i></h4></li>
                 <li> <h3>Approve</h3></li>
                 <li class="right-arrow"> <h5><i class="fa fa-chevron-right" aria-hidden="true"></i></h5></li>
                </ul>
               </a>
               <a href="#" >
                <ul>
                 <li><h4><i class="fa fa-line-chart" aria-hidden="true"></i></h4></li>
                 <li> <h3>Report</h3></li>
                 <li class="right-arrow"> <h5><i class="fa fa-chevron-right" aria-hidden="true"></i></h5></li>
                </ul>
               </a>
               <a href="#" >
                <ul>
                 <li><h4><i class="fa fa-list-alt" aria-hidden="true"></i></h4></li>
                 <li> <h3>Org Certification Details</h3></li>
                 <li class="right-arrow"> <h5><i class="fa fa-chevron-right" aria-hidden="true"></i></h5></li>
                </ul>
               </a>
               <a href="#" >
                <ul>
                 <li><h4><i class="fa fa-list" aria-hidden="true"></i></h4></li>
                 <li> <h3>Newers List</h3></li>
                </ul>
               </a>

           </div>


        </div>

        <div class="dashboard-panel col-lg-9 col-md-9">
            <div class="main-dashboard bg-#f3f3f4">

            </div>
        </div>
      </div>

  </div>


