<app-bread-crumb componentName="Contact Us">
</app-bread-crumb>
<div class="container">
  <div class="row">
    <div class="col-12 contact-page">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3500.2431525025627!2d77.44862504986742!3d28.682372182311703!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cf199a672e86f%3A0x93b6a8443203ee20!2sISKCON%20Temple%2C%20Ghaziabad!5e0!3m2!1sen!2sin!4v1593282187768!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      <div class="contact-info">
        <div>ISKCON YOUTH FORUM Ghaziabad</div>
        <div>Connect on <a href="" target="_blank">Facebook</a></div>
        <div>For queries call +91 8010151312, +918375818918 or +91 8920041231</div>
        <div>Drop Your query <a href="mailto:iskconyouthforumghaziabad@gmail.com">here</a> </div>
      </div>
    </div>
  </div>
</div>
