.festival-header {
  font-size: 32px;
  text-align: center;
  margin: 30px;
}

.festival-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.festival-container {
  margin: 30px 0;
}

.festival-content {
  flex: 1;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.festival-content > .festival-title {
  font-size: 24px;
  font-weight: bold;
}

.festival-content > .festival-desc {
  font-size: 18px;
}

.festival-content > .round-btn {
  width: fit-content;
}

.festival-img {
  flex: 1;
  padding: 0 20px;
}

.festival-img > img {
  width: 100%;
}

.festival-container.right .festival-img {
  order: 1;
}

@media (min-width: 576px) {
  .festival-container {
    display: block;
  }
  .festival-content {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .festival-container {
    display: flex;
  }
}

@media (min-width: 992px) {
  .festival-container {
    display: flex;
  }
}

@media (min-width: 1200px) {
  .festival-container {
    display: flex;
  }
}
