<div [ngClass]="'promo-section'">
  <div [ngClass]="'half-container'">
    <h4 [ngClass]="'promo-title'">Courses that transform life!</h4>
    <p [ngClass]="'promo-description'">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    </p>
    <button [ngClass]="'round-btn'">
      LEARN MORE
    </button>
  </div>
  <div [ngClass]="'half-container'">
    <div [ngClass]="'video-wrapper'" >
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/7gvGGEzZnbQ"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
      </iframe>
    </div>
  </div>
</div>
