<div [ngClass]="'container'">
  <div [ngClass]="'row'">
    <div [ngClass]="'col-12'">
      <div [ngClass]="'promo-section'">
        <div [ngClass]="'half-container'">
          <h4 *ngIf="!!title" [ngClass]="'promo-title'">{{title}}</h4>
          <p [ngClass]="'promo-description'">
            {{text}}
          </p>
          <button *ngIf="actionBtnLink" [ngClass]="'round-btn'">
            <a [routerLink]="actionBtnLink">
              LEARN MORE
            </a>
          </button>
        </div>
        <div [ngClass]="'half-container'">
          <div [ngClass]="'video-wrapper'">
            <iframe
              width="560"
              height="315"
              [src]="videoLink | safe"
              frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen>
            </iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
