.promo-section .promo-title {
  font-size: 2rem;
}

.promo-section .promo-description {
  font-size: 20px;
}

.round-btn {
  text-transform: uppercase;
  border: 0;
  color: white;
  background: #1a1a1a;
  display: inline-block;
  font-size: 13px;
  letter-spacing: 1px;
  padding: 14px 35px;
  border-radius: 40px;
}

@media (min-width: 1280px) {
  .promo-section {
    display: flex;
    align-items: center;
  }

  .promo-section > .half-container {
    flex: 1;
    padding: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1280px) {
  .promo-section {
    display: flex;
    align-items: center;
  }

  .promo-section > .half-container {
    flex: 1;
    padding: 20px;
  }
}

@media (max-width: 768px) {
  .promo-section {
    display: block;
  }

  .promo-section > .half-container {
    padding: 0 20px;
  }

  .promo-section iframe {
    width: 100%;
  }
}
