/* You can add global styles to this file, and also import other style files */
.validation-error {
  color: orangered
}

.validation-error > div {
  display: inline-block;
}

.validation-error:before {
  content: "*";
}
